body{
	line-height:1.6;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	background-color: whitesmoke;
}
.hero {
	height: 200px;
	line-height: 200px;
	font-size:60px;
	font-weight: bold;
	letter-spacing: -.1rem;
	background-color: #000833;
	color: whitesmoke;
	background-image: url(/img/topo.svg);
}

.projects a {
	display: inline-block;
	font-size: 20px;
	margin: 0px 20px;
}

.c1{
	color:#f6e493;
}
.c2{	
	color:#f2af3e;
}
.c3{
	color:#ee9042
}
.centered {
	text-align:center;
}

a {
	font-weight: bold;
	text-decoration: none;
	color:#000833
}


/* lit.css */

* + *{
	box-sizing: border-box;
	margin: .5em 0;
}

@media(min-width:45em) {
	.col {
		display: table-cell;
	}
	.\31 {
		width: 5%;
	}
	.\33 {
		width: 22%;
	}
	.\34 {
		width: 30%;
	}
	.\35 {
		width: 40%;
	}
	.\32 {
		width: 15%;
	}
	.row {
		display: table;
		border-spacing: 1em 0;
	}
}

.w-100,
.row {
	width: 100%;
}

hr {
	outline: 0;
}

.card {
	padding: 1em;
	border: solid #eee;
}

a[href]:hover, .btn:hover {
	opacity: .6;
}

.c {
	max-width: 55em;
	padding: 1em;
	margin: auto;
}

td {
	padding: 1em;
	text-align: left;
	border-bottom: 1px solid #eee;
}

th {
	padding: 1em;
	text-align: left;
	border-bottom: 2px solid #eee;
}

.btn {
	padding: 1em;
	letter-spacing: .1em;
	text-transform: uppercase;
	background: white;
	border: solid;
	cursor:pointer;
}

pre {
	overflow: auto;
}