body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-family: Ariel, sans-serif;
	background-color: #00003A;
	color:whitesmoke;
	padding:0 10px;
}
.logo{
	font-family:monospace;
	font-size:88px;
}
.title{
	font-family:monospace;
	font-size:88px;
}
.c1{
	color:#f6e493;
	letter-spacing:-10px
}
.c2{	
	color:#f2af3e;
	letter-spacing:-10px;
	font-weight: bolder;
}
.c3{
	color:#ee9042
}
.centered {
	text-align:center;
}
h1,h2,h3{
	color:whitesmoke;
	line-height:1.2; 
}
a {
	color:whitesmoke;
}
