body{
	line-height:1.6;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
}
.hero {
	padding: .5em;
	margin: 0px auto;
	font-size:2.3em;
	text-align: center;
	font-weight: bold;
	letter-spacing: -.1rem;
	background-color: #000618;
	color: whitesmoke;
	background-image: url(/img/topo.svg);
}

.hero a {
  color: whitesmoke;
}

.software {
	text-align: center;
	vertical-align: middle;
}
.software img {
	width: 320px;
}

.c1{
	color:#f6e493;
}
.c2{	
	color:#f2af3e;
}
.c3{
	color:#ee9042
}

a {
	font-weight: bold;
	text-decoration: none;
	color:#000833
}

p {
	margin: 16px;
}

pre[class*="language-"] {
	font-size: 16px;
	margin-top: 24px !important;
	margin-bottom: 24px !important;
	margin-left: 48px !important;
	margin-right: 48px !important;
}

blockquote {
	border-left: 4px solid whitesmoke;
	margin-left: 32px;
	margin-right: 32px;
}


/* lit.css */

* + *{
	box-sizing: border-box;
	margin: .5em 0;
}

@media(min-width:45em) {
	.col {
		display: table-cell;
	}
	.\31 {
		width: 5%;
	}
	.\33 {
		width: 22%;
	}
	.\34 {
		width: 30%;
	}
	.\35 {
		width: 40%;
	}
	.\32 {
		width: 15%;
	}
	.row {
		display: table;
		border-spacing: 1em 0;
	}
}

.w-100,
.row {
	width: 100%;
}

hr {
	outline: 0;
}

.card {
	padding: 1em;
	border: solid #eee;
}

a[href]:hover, .btn:hover {
	opacity: .8;
}

.c {
	max-width: 55em;
	padding: 1em;
	margin: auto;
}

td {
	padding: 1em;
	text-align: left;
	border-bottom: 1px solid #eee;
}

th {
	padding: 1em;
	text-align: left;
	border-bottom: 2px solid #eee;
}

.btn {
	padding: 1em;
	letter-spacing: .1em;
	text-transform: uppercase;
	background: white;
	border: solid;
	cursor:pointer;
}

pre {
	overflow: auto;
}