<html>
<head>
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/// big sky software</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" href="/css/prism-htmx.css"/>
    <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
</head>
<body>
<div class="hero">
<a href="/"><i class="c1">/</i><i class="c2">/</i><i class="c3">/</i> Big Sky Software</a>
</div>
<div class="c">
    {{ content | safe }}
</div>
</body>
</html>
